@model VanillaMovieShop.Models.ViewModels.FrontVM
<h3 class="text-white"> Our Top Newest Movies</h3>
<partial name="_MoviePartial" model="@Model.NewestMovies" />


<h3 class="text-white"> Our Top Oldest Movies</h3>
    <partial name="_MoviePartial" model="@Model.OldestMovies" />


<h3 class="text-white"> Our Cheapest Movies</h3>
    <partial name="_MoviePartial" model="@Model.CheapestMovies" />


<h3 class="text-white"> Our most Popular Movies</h3>
    <partial name="_MoviePartial" model="@Model.PopularMovies" />

