@model VanillaMovieShop.Models.ViewModels.FrontVM
<div>
@foreach (var item in Model.NewestMovies)
{
    @item.Title
}
</div>
<hr />
<div>
    @foreach (var item in Model.OldestMovies)
    {
        @item.Title
    }
</div>
<hr />
<div>
    @foreach (var item in Model.PopularMovies)
    {
        @item.Title
    }

</div>
<hr />
<div>
    @foreach (var item in Model.CheapestMovies)
    {
        @item.Title
    }
</div>
