@model VanillaMovieShop.Models.Db.Movie

@{
    ViewData["Title"] = "Create";
}
<div class="text-white">
    <h1>Create Movie</h1>
  
</div>


<div class="row text-white">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actors" class="control-label"></label>
                <input asp-for="Actors" class="form-control" />
                <span asp-validation-for="Actors" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Image" for="formFile" class="form-label">Image</label>
                <input asp-for="Image" class="form-control" type="file" id="formFile">
            </div>

            <div class="form-group">
                <br />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div  >
    <br />
    <a asp-action="Index" class="text-white">Movie List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
